#main
    %p.rider Available Drivers

    %table.table
        %thead
            %th Driver Name
            %th Number of Seats
            %th Car
            %th Price

        %tbody
            -@drivers.each do |driver|
                %tr
                    %td.name= link_to "#{driver.first} #{driver.last}", rider_path(:id => @rider.id, :driver_id => driver.id)
                    %td.seats= "#{driver.seats}"
                    %td.car= "#{driver.make} #{driver.model}"
                    %td.price= "#{driver.price}"

    %a= link_to "Back to Driver/Rider selection" , root_path
