#main
    %p Drivers

    =form_tag riders_path, :method => :get do
        =label_tag "seats_filter", "Minimum seats"
        =number_field_tag "seats_filter"

        =label_tag "price_filter", "Maximum price"
        =number_field_tag "price_filter"

        =submit_tag "Filter drivers"

    =link_to "Clear filters", riders_path("seats_filter" => "", "price_filter" => "")

    %table.table
        %thead
            %th Driver Name
            %th Number of Seats
            %th Car
            %th Price

        %tbody
            -@drivers.each do |driver|
                %tr
                    %td.name= link_to "#{driver.first} #{driver.last}", rider_path(:id => @rider.id, :driver_id => driver.id)
                    %td.seats= "#{driver.seats}"
                    %td.car= "#{driver.make} #{driver.model}"
                    %td.price= "#{driver.price}"

    %a= link_to "Back to Driver/Rider selection" , root_path
