#main
    .row
        %h2.header.title= "#{@driver.first} #{@driver.last}"
    .row
        .col-md-offset= "Make: #{@driver.make}, Model: #{@driver.model}, Plate: #{@driver.plate}"
    .row
        .col-md-offset= "Available seats: #{@driver.seats}"
    .row
        .col-md-offset= "Current Price: #{@driver.price}"
    .row
        -if @driver.available?
            .col-md-offset= "Currently available!"
        -else
            .col-md-offset= "Not currently available :("

    %table.table
        %thead
            %th Reviews
            %th Stars
            %th Description
            //%th Reviewer

        %tbody
            -@reviews.each do |rev|
                %tr
                    %td
                    %td= rev.stars
                    %td= rev.description
                    //Leave the name of rider who wrote description

    %br

    =link_to "Leave a review", new_review_path(:rider_id => params[:id] , :driver_id => params[:driver_id])
