<link href='https://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Caesar+Dressing' rel='stylesheet' type='text/css'>


#main
    .row
        %h1.span.fire.driver= "#{@driver.first} #{@driver.last}"
    .row
        %div.info Information
    .row
        .col-md-offset= "Make: #{@driver.make}, Model: #{@driver.model}, Plate: #{@driver.plate}"
    .row
        .col-md-offset= "Available seats: #{@driver.seats}"
    .row
        .col-md-offset= "Current Price: $#{@driver.price}"
    .row
        -if @driver.available?
            .col-md-offset.available.burn= "Currently available!"
        -else
            .col-md-offset.not_available= "Not currently available :("
    -if @rider.has_ride == false
        .row
            .col-md-offset=link_to "Book a Ride", rides_path(:booking => {:rider_id => @rider.id, :driver_id => @driver.id}), :method => :post, :class => :button
        .row
    .row
    %table.table
        %h1.review Reviews
        %thead
            %th Stars
            %th Description
            //%th Reviewer

        %tbody
            -@reviews.each do |rev|
                %tr
                    %td.stars= rev.stars
                    %td= rev.description
                    //Leave the name of rider who wrote description

    %br
    %br
    %br
    %div.container
        -@rides.each do |ride|
            -if ride.reviewed == false
                =link_to "Leave a review", new_review_path(:rider_id => params[:id] , :driver_id => params[:driver_id],:ride_id => ride.id), :class => "button fire"
                %br
                %br
                %br
                -break
        =link_to "Go back to view all drivers", riders_path(), :class => "button burn"
