#main
    .row
        %h2.header.title= "#{@driver.first} #{@driver.last}"
    .row
        -if @has_ride
            .col-md-offset= "You have been booked by #{@rider.first} #{@rider.last}!"
            %div.container
                %br
                =link_to "Ride with #{@rider.first} #{@rider.last} completed!", ride_path(:id => @active_ride.id, :driver_id => @driver.id), :method => :patch, :class => :button
                %br
                %br
        %span.line
    .r
        .col-md-offset= "Make: #{@driver.make}, Model: #{@driver.model}, Plate: #{@driver.plate}"
    .row
        .col-md-offset= "Available seats: #{@driver.seats}"
    .row
        .col-md-offset= "Current Price: #{@driver.price}"
    .row
        -if @driver.available?
            .col-md-offset= "Currently available!"
        -else
            .col-md-offset= "Not currently available :("

    .row
        %h2.header.title= "Reviews"
    .row
        -@reviews.each do |review|
            .col-md-offset-2= "#{review.stars} #{review.description}"
            %br
%br
%br
%br
%div.container
    =link_to "Toggle Availability", driver_path(@driver,:toggle => true),:method => :put, :class => "button fire"
    =link_to "Edit Driver Details", edit_driver_path(@driver), :class => "button fire"
    =link_to "Back to Driver/Rider selection" , root_path , :class => "button fire"

//add table of riders looking for a ride
